#title {
    background-color: black; 
    color: white; 
    padding: 30px 0; 
    width: 100%; 
    text-align: right; 
    margin: 0; 
}

h1 {
    margin-right: 5%;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

#info div {
    text-align: center;
}

#face img {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
}

#link{
    max-width: 50px;
}

td {
   width: max-content;
    margin: 30px;
}

th {
    padding: 20px;
    font-size: large;
    min-width: 100px;
}

table {
    margin: auto;
    width: 80%;
    border-spacing: 10px; /* th와 td 사이의 간격을 설정 */
    border-collapse: separate; /* 테이블 셀 경계를 분리시킴 */

}

#info p {
    margin-top: 30px;
    text-align: center;
    height: 700px;
}